@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2f6fc;
  color: #2b2b2b;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table > :not(:first-child) {
  border-top: 0;
}
